 <style type="text/css">
            body{
                background: #565843;
                font-size: 14px;
            }
            .main{
                width: 900px;
                min-height: 1000px;
                padding-left: 50px;
                padding-right: 50px;

            }
            .header {

            }
            .header h1{
                margin: 0px;
            }
            .break{
                background: #DBDDE0;
                margin-top:0px;
                height: 7px;
            }
            .address{

            }
            .address h4{
                text-align: center;
                margin: 0px;
                padding: 4px;
            }
            .page_title{

            }
            .page_title h2{
                text-align: center;
            }
            .information{
                width: 100%;
            }
            .information_left{
                width: 50%;
                float: left;

            }
            .information_right{
                width: 50%;
                float: right;
            }
            .products_table{

            }
            .products_table table{
                width: 100%;
                border-collapse: collapse;
                border: 1px solid #000;
            }
            .products_table table tr{

            }
            .products_table table tr th{
                border: 1px solid #000;
            }
            .products_table table tr td{
                border: 1px solid #000;
                text-align: center;
            }
            .calculation{
                width: 100%;
                overflow: hidden;
            }
            .calculation_left{
                width: 50%;
                float: left;
            }
            .calculation_right{
                width: 50%;
                float: right;
            }
            .footer_singature{
                width: 100%;
                margin-top: 50px;
                overflow: hidden;
            }
            .first_part{
                width: 25%;
                float: left;
            }
            .second_part{
                width: 25%;
                float: left;
                padding-left: 110px;
            }
            .third_part{
                width: 25%;
                float: right;
            }

            .command_section{
                text-align: center;
                margin-top: 20px;
            }
            .command_section span{

            }
            .command_section span input{
                padding: 5px;
                width: 50px;
                height: 30px;
                display: inline-block;
            }
        </style>